[Unit]
Description=File Transfer Service - Staging
Documentation=man:fts_bringonline

[Service]
Type=forking
Environment="GLOBUS_THREAD_MODEL=pthread"
Environment="CGSI_TRACE=1"
EnvironmentFile=-/etc/sysconfig/fts-bringonline
ExecStart=/usr/sbin/fts_bringonline -t 25
KillMode=control-group
TimeoutStopSec=23
KillSignal=SIGTERM
SendSIGHUP=no
SendSIGKILL=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target

