[Unit]
Description=FTS ActiveMQ Publisher Daemon
Documentation=man:fts_activemq
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/fts-activemq
ExecStart=/usr/sbin/fts_activemq
KillMode=control-group
PIDFile=/var/lib/fts3/fts-activemq.pid
TimeoutStopSec=5
KillSignal=SIGTERM
SendSIGHUP=no
SendSIGKILL=yes
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
