[Unit]
Description=File Transfer Service - QoS
Documentation=man:fts_qos
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
Environment="XrdSecGSICRLCHECK=0"
Environment="GLOBUS_THREAD_MODEL=pthread"
Environment="CGSI_TRACE=0"
EnvironmentFile=-/etc/sysconfig/fts-qos
ExecStart=/usr/sbin/fts_qos -t 25
KillMode=control-group
PIDFile=/var/lib/fts3/fts-qos.pid
TimeoutStopSec=23
KillSignal=SIGTERM
SendSIGHUP=no
SendSIGKILL=yes
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

