[Unit]
Description=FTS token refresher
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/sbin/ftstokenrefresherd
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
