<h2>Link configuration</h2>

<pagination rotate="false"
    page="links.page" total-items="links.count" items-per-page="links.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Auto tuning</th>
            <th>TCP streams</th>
        </tr>
    </thead>
    <tbody data-ng-repeat="link in links.items" data-ng-class-odd="'odd'">
        <tr>
            <td>
                <i class="icon-plus" data-ng-click="config.show = !config.show"></i>
                {{ link.symbolicName }}
            </td>
            <td>{{ link.state }}</td>
            <td>{{ link.source }}</td>
            <td>{{ link.destination }}</td>
            <td>{{ link.auto_tuning }}</td>
            <td>{{ link.nostreams }}</td>
        </tr>
        <tr style="background: #CCC" data-ng-show="config.show">
            <td colspan="5">
                <ul>
                    <li>TCP Buffer Size: {{ link.tcp_buffer_size }}</li>
                    <li>Number of streams: {{ link.nostreams }}</li>
                    <li>Timeout: {{ link.urlcopy_tx_to }}</li>
                    <li>Shares:
                        <ul>
                            <li data-ng-repeat="(vo, active) in link.shares">
                                {{ vo }}: {{ active }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="links.page" total-items="links.count" items-per-page="links.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>
