<h2>Configuration status</h2>

<h3>Server config</h3>

<ul data-ng-show="server.optimizer_mode" style="list-style-type: none">
    <li><b>Optimizer level:</b> {{ server.optimizer_mode }}</li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>VO</th>
            <th>Retry</th>
            <th>Max. Time in queue</th>
            <th>Global timeout</th>
            <th>Seconds per MB</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="c in server.per_vo" data-ng-class-odd="'odd'">
            <td>
                <span data-ng-show="!c.vo_name">
                    *
                </span>
                <span data-ng-show="c.vo_name">
                    {{ c.vo_name }}
                </span>
            </td>
            <td>{{ c.retry }}</td>
            <td>{{ c.max_time_queue }}</td>
            <td>{{ c.global_timeout }}</td>
            <td>{{ c.sec_per_mb }}</td>
        </tr>
    </tbody>
</table>

<h3>Debug settings</h3>
<table class="table">
    <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Debug enabled</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="d in debug" data-ng-class-odd="'odd'">
            <td>{{ d.source_se }}</td>
            <td>{{ d.dest_se }}</td>
            <td>{{ d.debug }}</td>
        </tr>
    </tbody>
</table>
