[Unit]
Description=File Transfer Service - Info Publisher

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /var/lock/subsys/fts-info-publisher
ExecStop=/usr/bin/rm /var/lock/subsys/fts-info-publisher
RemainAfterExit=True

