<global-filter data-hide-vo="true" data-hide-pair="true"></global-filter>

<h2>
    Statistics -
    <div class="dropdown">
	    <a class="dropdown-toggle">
	        <span data-ng-show="host">{{host}}</span>
	        <span data-ng-show="!host">All</span>
	    </a>
	    <ul class="dropdown-menu">
	        <li>
	           <a data-ng-click="filterHost(null)">All</a>
	        </li>
	        <li data-ng-repeat="host in hostnames">
	           <a data-ng-click="filterHost(host)">{{host}}</a>
            </li>
	    </ul>
    </div>
</h2>

<div class="row-fluid">
    <div class="span6">
        <h4>Queue</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Submitted</th>
                    <th>Ready</th>
                    <th>Active</th>
                    <th>Staging</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#/transfers?hostname={{host|escape}}&state=SUBMITTED">{{stats.lasthour.submitted}}</a>
                        <span data-ng-show="{{stats.lasthour.on_hold}}">
                            (<a href="#/transfers?hostname={{host|escape}}&state=ON_HOLD" title="On hold">{{stats.lasthour.on_hold}}</a>)
                        </span>
                    </td>
                    <td>
                        <a href="#/transfers?hostname={{host|escape}}&state=READY">{{stats.lasthour.ready}}</a>
                    </td>
                    <td>
                        <a href="#/transfers?hostname={{host|escape}}&state=ACTIVE">{{stats.lasthour.active}}</a>
                    </td>
                    <td>
                        <a href="#/transfers?hostname={{host|escape}}&state=STAGING">{{stats.lasthour.staging}}</a>
                        <span data-ng-show="{{stats.lasthour.on_hold_staging}}">
                            (<a href="#/transfers?hostname={{host|escape}}&state=ON_HOLD_STAGING" title="On hold">{{stats.lasthour.on_hold_staging}}</a>)
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="span6">
        <h4>
            For the last {{globalFilter.time_window || '1' }}
            <span data-ng-show="globalFilter.time_window == 1 || !globalFilter.time_window">hour</span>
            <span data-ng-show="globalFilter.time_window > 1">hours</span>
        </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Succeeded</th>
                    <th>Failed</th>
                    <th>Canceled</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#/transfers?time_window=1&hostname={{host|escape}}&state=FINISHED">{{stats.lasthour.finished}}</a>
                    </td>
                    <td>
                        <a href="#/transfers?time_window=1&hostname={{host|escape}}&state=FAILED">{{stats.lasthour.failed}}</a>
                    </td>
                    <td>
                        <a href="#/transfers?time_window=1&hostname={{host|escape}}&state=CANCELED">{{stats.lasthour.canceled}}</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div><p><b>Note: </b>Canceled transfers are not shown on the plot</p></div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <canvas id="queuePlot"></canvas>
    </div>
    <div class="span6">
        <canvas id="lastHourPlot"></canvas>
    </div>
</div>