[Unit]
Description=File Transfer Service - Database Cleanup

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /var/lock/subsys/fts-records-cleaner
ExecStop=/usr/bin/rm /var/lock/subsys/fts-records-cleaner
RemainAfterExit=True

