[Unit]
Description=File Transfer Service - Database Cleanup
Documentation=man:fts_db_cleaner

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /var/lock/subsys/fts-records-cleaner
ExecStop=/usr/bin/rm /var/lock/subsys/fts-records-cleaner
RemainAfterExit=True

[Install]
WantedBy=multi-user.target

