<h3>
    Showing {{optimizer.startIndex}} to {{optimizer.endIndex}} out of {{optimizer.count}}
    <button class="btn btn-mini btn-info" type="button" ng-click="filtersModal = true">Filter</button>
</h3>

<pagination rotate="false" num-pages="optimizer.pageCount" current-page="optimizer.page"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>
    
<table class="table">
    <thead>
        <tr>
            <th style="width: 35%">Source</th>
            <th style="width: 35%">Destination</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="o in optimizer.items" ng-class-odd="'odd'">
            <td>
                <a href="#/optimizer/detailed?source={{o.source_se}}&destination={{o.dest_se}}&time_window={{filter.time_window}}">
                    <i class="icon-search"></i>
                </a>
                {{ o.source_se }}
            </td>
			<td>{{ o.dest_se }}</td>
       </tr>
    </tbody>
</table>

<pagination rotate="false" num-pages="optimizer.pageCount" current-page="optimizer.page"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<!-- Modals -->
<div modal="filtersModal" close="filtersModal = false" options="opts">
    <form ng-submit="filterReason(filter.contains)" autocomplete="off">
        <div class="modal-header">
            <h3>Search in the reason</h3>
        </div>
        <div class="modal-body" style="height: 20em">
            <label for="source_se">Source:</label>
            <input type="text" placeholder="source se" id="source_se" ng-model="filter.source_se"
                   typeahead="dest for dest in unique.sources | safeFilter:$viewValue"/>
            <label for="dest_se">Destination:</label>
            <input type="text" placeholder="destination se" id="dest_se" ng-model="filter.dest_se"
                   typeahead="dest for dest in unique.destinations | safeFilter:$viewValue"/>
            <label for="timewindow">Time window:</label>
            <input type="number" placeholder="time window in hours" id="timewindow" ng-model="filter.time_window"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="filterReason(filter)">Apply</button>
            <button class="btn btn-danger" ng-click="filtersModal = false">Cancel</button>
        </div>
    </form>
</div>
