<h2>Limit configuration</h2>

<h3>Limits for transfers</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                <span data-order-by="source_se">Source</span>
            </th>
            <th>
                <span data-order-by="dest_se">Destination</span>
            </th>
            <th>
                <span data-order-by="active">Max. Active</span>
            </th>
            <th>
                <span data-order-by="bandwidth">Max. Bandwidth</span>
            </th>
        </tr>
    </thead>
    <tbody data-ng-repeat="limit in limits.transfers" data-ng-class-odd="'odd'">
        <tr>
            <td>{{ limit.source_se }}</td>
            <td>{{ limit.dest_se }}</td>
            <td>{{ limit.active }}</td>
            <td><span data-optional-number="{{limit.bandwidth}}" data-digits="2" data-suffix="MB/s"></span></td>
        </tr>
    </tbody>
</table>

<h3>Limits for operations</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                VO
            </th>
            <th>
                Host
            </th>
            <th>
                Operation
            </th>
            <th>
                Concurrent operations
            </th>
        </tr>
    </thead>
    <tbody data-ng-repeat="limit in limits.operations" data-ng-class-odd="'odd'">
        <tr>
            <td>{{ limit.vo }}</td>
            <td>{{ limit.host }}</td>
            <td>{{ limit.operation }}</td>
            <td>{{ limit.concurrent_ops }}</td>
        </tr>
    </tbody>
</table>
