<h2>
    Configuration audit
    <button class="btn btn-mini btn-info" type="button" ng-click="filtersModal = true">Filter</button>
</h2>

<pagination rotate="false" num-pages="pageCount" current-page="page"
    max-size="pageMax" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table">
    <thead>
        <tr>
            <th style="width: 7%">Action</th>
            <th style="width: 45%">Configuration</th>
            <th style="width: 15%">Time</th>
            <th style="width: 33%">User</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in config.items" ng-class-odd="'odd'" ng-class="c.action">
            <td>{{c.action}}</td>
            <td>{{c.config}}</td>
            <td>{{c.datetime}}</td>
            <td>{{c.dn}}</td>
        </tr>
    </tbody>
</table>

<pagination rotate="false" num-pages="pageCount" current-page="page"
    max-size="pageMax" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<!-- Modals -->
<div modal="filtersModal" close="filtersModal = false" options="opts">
    <form ng-submit="applyFilters(filter)" autocomplete="off">
        <div class="modal-header">
            <h3>Filters</h3>
        </div>
        <div class="modal-body">
            <label for="action">Action:</label>
            <select id="action" ng-model="filter.action">
                <option value="">-- All actions--</option>
                <option>insert</option>
                <option>update</option>
                <option>delete</option>
                <option>retry</option>
                <option>debug</option>
                <option>blacklist</option>
                <option>drain</option>
                <option>optimizer mode</option>
                <option>queue-timeout</option>
            </select>
            
            <label for="user">User:</label>
            <input type="text" id="user" ng-model="filter.user"/>
               
            <label for="contains">Contains:</label>
            <input type="text" id="contains" ng-model="filter.contains"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="applyFilters(filter); filtersModal = false">Apply</button>
            <button class="btn btn-danger" ng-click="filtersModal = false">Cancel</button>
        </div>
    </form>
</div>
