<h2>Overview</h2>
<h3>
    Showing {{overview.startIndex}} to {{overview.endIndex}} out of {{overview.count}} from the last hour
    <button class="btn btn-mini btn-info" type="button" ng-click="filtersModal = true">Filter</button>
</h3>

<pagination rotate="false" num-pages="pageCount" current-page="page"
    max-size="pageMax" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table">
    <thead>
        <tr>
            <th style="width: 25%">
                <i class="icon-th-list" ng-click="filterBy({source_se: ''})"></i>
                Source
            </th>
            <th style="width: 25%">
                <i class="icon-th-list" ng-click="filterBy({dest_se: ''})"></i>
                Destination
            </th>
            <th style="width: 10%">
                <i class="icon-th-list" ng-click="filterBy({vo: ''})"></i>
                VO
            </th>
            <th style="width: 10%">
                <span order-by="submitted">Submitted</span>
            </th>
            <th style="width: 10%">
                <span order-by="active">Active</span>
            </th>
            <th style="width: 10%">
                <span order-by="finished">Succeeded</span>
            </th>
            <th style="width: 10%">
                <span order-by="failed">Failed</span>
            </th>
            <th style="width: 10%">
                <span order-by="throughput">Current throughput</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="o in overview.items"
            ng-class-odd="'odd'"
            class="overview"
            ng-class="pairState(o)">
			<td>
                <i class="icon-filter" ng-click="filterBy({source_se: o.source_se})"></i>
                {{ o.source_se }}
            </td>
			<td>
			    <i class="icon-filter" ng-click="filterBy({dest_se: o.dest_se})"></i>
			    {{ o.dest_se }}
			</td>
			<td>
			    <i class="icon-filter" ng-click="filterBy({vo: o.vo_name})"></i>
                {{ o.vo_name }}</td>
			<td>
                <a href="#/transfers?source_se={{o.source_se}}&dest_se={{o.dest_se}}&vo={{o.vo_name}}&state=SUBMITTED">
                    <span optional-number="o.submitted"></span>
                </a>
			</td>
            <td>
                <a href="#/transfers?source_se={{o.source_se}}&dest_se={{o.dest_se}}&vo={{o.vo_name}}&state=ACTIVE">
                    <span optional-number="o.active"></span>
                </a>
            </td>
            <td>
                <a href="#/transfers?source_se={{o.source_se}}&dest_se={{o.dest_se}}&vo={{o.vo_name}}&state=FINISHED">
                    <span optional-number="o.finished" decimals="0"></span>
                </a>
            </td>
            <td>
                <a href="#/transfers?source_se={{o.source_se}}&dest_se={{o.dest_se}}&vo={{o.vo_name}}&state=FAILED">
                    <span optional-number="o.failed" decimals="0"></span>
                </a>
            </td>
            <td><span optional-number="o.current" suffix="MB/s" decimals="2"></span></td>
        </tr>
    </tbody>
</table>

<pagination rotate="false" num-pages="pageCount" current-page="page"
    max-size="pageMax" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<div>
    <p>
        <span class="label label-important">Bad shape</span>
        There are submitted but no active, less than 3 active with more than 3 submitted, or a failure rate &gt;= 20%<br/>
        <span class="label label-warning">Underused</span>
        Less than three actives, but no submitted waiting.<br/>
        <span class="label label-success">Good shape</span>
        Success rate &gt;= 90%, or more than three actives with a failure rate &lt; 20%.<br/>
        <span class="label">Nothing special</span>
        No active, no submitted, success rate between 80% and 90%.
    </ul>
</div>

<!-- Modals -->
<div modal="filtersModal" close="filtersModal = false" options="opts">
    <form ng-submit="filterBy(filter)" autocomplete="off">
        <div class="modal-header">
            <h3>Filters</h3>
        </div>
        <div class="modal-body">
            <label for="source_se">Source storage element:</label>
            <input type="text" placeholder="source storage element" id="source_se" ng-model="filter.source_se"
                   typeahead="source for source in unique.sources | filter:$viewValue"/>
            
            <label for="dest_se">Destination storage element:</label>
            <input type="text" placeholder="destination storage element" name="dest_se" ng-model="filter.dest_se"
                   typeahead="dest for dest in unique.destinations | filter:$viewValue"/>
               
            <label for="vo">VO:</label>
            <select id="vo" ng-model="filter.vo" ng-options="vo for vo in unique.vos">
              <option value="">-- All VOs --</option>
            </select>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="filterBy(filter); filtersModal = false">Apply</button>
            <button class="btn btn-danger" ng-click="filtersModal = false">Cancel</button>
        </div>
    </form>
</div>

