
* {                                                                                                                           
        padding: 0;                                                                                                            
        margin: 0;                                                                                                             
}                                                                                                                              
html, body {                                                                                                                   
        font-family:Arial Unicode MS,Arial, sans-serif;                                                                        
        font-size: 13px;                                                                                                       
        height: 100%;                                                                                                          
}                                                                                                                              
                                                                                                                               
body {                                                                                                                         
        background:  #ffffdd;                                                                                                  
}                                                                                                                              
                                                                                                                               
html {                                                                                                                         
        overflow: auto;                                                                                                        
}        

#curtain {                                                                                                                     
    position: fixed;                                                                                                           
    left: 0;                                                                                                                   
    top: 0;                                                                                                                    
    width: 100%;                                                                                                               
    height: 100%;                                                                                                              
    z-index: 999; /* to avoid overlapping with other elements */                                                     
    background: gainsboro;                                                                                                     
    opacity: 0.7;                                                                                                              
    display: none;                                                                                                             
}  
div#wrap {                                                                                                                                  
        border: 0;                                                                                                             
        position: relative;
        min-width: 730px;                                                                                                                   
        overflow: hidden;                                                                                                                   
        min-height: 100%;                                                                                                                   
}

div#header{                                                                                                                                 
        background: #ffffdd; /*#f7f8f9*/                                                                                                    
        position: relative;                                                                                                                 
        height: 50px;                                                                                                                       
        padding-top:5px;                                                                                                                    
        padding-right:5px;                                                                                                                  
        font-family: sans-serif;                                                                                                            
        font-size: 12px;                                                                                                                    
        color: #3184bd;                                                                                                                       
        text-align: center;                                                                                                                  
}


/* classes for horizontal tabs line with corners */
                                                                                                                                            
ul.box {                                                                                                                                    
        list-style-type: none;                                                                                                              
        padding-top: 2px;                                                                                                                   
        height: 2em;                                                                                                                        
        background-color: #3184bd;                                                                                                          
}                                                                                                                                           
ul.box > li{                                                                                                                                
        display: block;                                                                                                                     
        margin: 0 5px; /*********** tabs distance  ***********/                                                                   
        background-image: url(img/corn_tl.gif);                                                                                             
        background-color: #ddffff;                                                                                                          
        background-repeat: no-repeat;                                                                                                       
        border-bottom: 1px dotted #3184bd;                                                                                                  
        float: left;                                                                                                                        
        height: 2em;                                                                                                                        
}                                                                                                                                           
ul.box > li:hover{                                                                                                                          
        background-color: #ffffaa;                                                                                                          
        border-bottom: 1px solid #ffffaa;                                                                                                   
}                                                                                                                                           
ul.box > li.active{                                                                                                                         
        background-color: #ffffdd;                                                                                                          
        border-bottom: 1px solid #ffffdd;                                                                                                   
}                                                                                                                                           
ul.box li > p{                                                                                                                                     
        display: block;                                                                                                                     
        background-image: url(img/corn_tr.gif);                                                                                             
        background-repeat: no-repeat;                                                                                                       
        background-position: top right;                                                                                                     
        float: left;                                                                                                                        
        padding: 10px;                                                                                                                      
}                                                                                                                                        
ul.box a{                                                                                                                                   
        display: inline;                                                                                                                    
        color: #104a6d;                                                                                                                     
        text-decoration: none;                                                                                                              
}                                                                                                                                           
ul.box a,ul.box a:link,ul.box a:visited, ul.box a:hover{                                                                                    
        font-size: 1em;    /*13px;*/                                                                                                        
}                                                                                                                                           
ul.box a:hover{                                                                                                                             
                color: navy;                                                                                                                
}     
/***************************************************/

/********** clases for tab content *****************/

.center {                                                                                                                                   
        position: relative;                                                                                                                 
        height: 100%;
	padding-top: 10px;                                                                                                                       
} 
/***************************************************/


