{% extends "base.html" %}
{% load filesize %}
{% load urlLog %}

{% block title %}
Job {{ transferJob.job_id }}
{% endblock %}

{% block refresh %}
  {% if not transferJob.isFinished %}
    {% include "refresh.html" %}
  {% endif %} 
{% endblock %}

{% block content %}
  <h2>Transfer '{{transferJob.job_id}}' {{transferJob.job_state}}</h2>
  <p>
    Submitted by <span class="dn">'{{transferJob.user_dn}}'</span><br/>
    VO: <span class="vo">{{transferJob.vo_name}}</span><br/>
    Received by {{transferJob.submit_host}}<br/>
    Overwrite flag: {{transferJob.overwrite_flag}}<br/>
    Reuse sessions: {{transferJob.reuse_job}}
  </p>
  
  {% if transferJob.reason %}
    <p class="reason">
    {{transferJob.reason}}
    </p>
  {% endif %}
    
  <h3>The job contains {{ paginator.count }} {{ stateFilter|default_if_none:"" }} transfers (
      {% for tState in trasferStateCount %}
          {{ tState.count }} <a href="?state={{ tState.file_state }}">{{ tState.file_state }}</a> 
      {% endfor %}
  )
   {% if stateFilter %}
   <a href="?">[Remove filter]</a>
   {% endif %}
  </h3>
  
  <h4>
    Showing {{ transferFiles.start_index }} to {{ transferFiles.end_index }}
    {% if transferFiles.has_previous %}
        <a href="?page=1&amp;state={{ stateFilter|default_if_none:"" }}">&lt;&lt;</a>
        <a href="?page={{ transferFiles.previous_page_number }}&amp;state={{ stateFilter|default_if_none:"" }}">&lt;</a>
    {% else %}
        &lt; &lt;&lt;
    {% endif %} | 
    {% if transferFiles.has_next %}
        <a href="?page={{ transferFiles.next_page_number }}&amp;state={{ stateFilter|default_if_none:"" }}">&gt;</a>
        <a href="?page={{ paginator.num_pages }}&amp;state={{ stateFilter|default_if_none:"" }}">&gt;&gt;</a>
    {% else %}
        &gt; &gt;&gt;
    {% endif %}
  </h4>
  
  <table class="fileList">
    <thead>
      <tr>
        <th>FILE ID</th>
        <th>TRANSFER HOST</th>
        <th>SOURCE URL</th>
        <th>DEST URL</th>
        <th>FILE STATE</th>
        <th>FILE SIZE</th>
        <th>THROUGHPUT</th>
        <th>START TIME</th>
        <th>FINISH TIME</th>
        <th>METADATA</th>
      </tr>
    </thead>
    <tbody>
      {% for t in transferFiles.object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>
            <a class="hashTarget" id="{{ t.file_id }}">
	            <img alt="[+]" src="{{ STATIC_URL }}img/plus.gif" title="Show details"  onclick="$('#detailed{{t.file_id}}').toggle()"/>
	            {{ t.file_id }}
	            {% if t.retry > 0 %}
	            <img alt="[R]" src="{{ STATIC_URL}}img/retried.png" title="Retried {{ t.retry }} times"/>
	            {% endif %}
            </a>
          </td>
          <td>{{ t.transferHost }}</td>
          <td>{{ t.source_surl }}</td>
          <td>{{ t.dest_surl }}</td>
          <td class="{{ t.file_state }}">{{ t.file_state }}</td>
          <td>{% filesize t.filesize %}</td>
          <td>{{ t.throughput }} MiB/sec</td>
          <td>{{ t.start_time }}</td>
          <td>{{ t.finish_time }}</td>
          <td>{{ t.file_metadata }}</td>
        </tr>
        <tr class="details" id="detailed{{t.file_id}}">
          <td colspan="10">
            <ul>
              <li><b>Attempts:</b> {{ t.retry }}</li>
              <li><b>Duration:</b> {{ t.tx_duration }} seconds</li>
              <li><b>Checksum:</b> {{ t.checksum }}</li>
              <li><b>User specified size:</b> {{ t.user_filesize }}</li>
              <li><b>Configuration: </b> {{ t.symbolicName }}</li>
              <li><b>Parameters:</b> {{ t.internal_file_params }}</li>
              {% if t.staging_start %}
                <li><b>Staging:</b> {{ t.staging_start}} until {{ t.staging_finished }}</li>
              {% endif %}
              {% if t.reason %}
                <li><b>Reason:</b> {{ t.reason }}</li>
              {% endif %}
              <li>
                <b>Log files: </b> {% urlTransferLog t %}
              </li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--  Highlight selected file id -->
  <script>
  $(window).bind('hashchange', function() {
    var hash = window.location.hash.slice(1);
    var fileIdElm = document.getElementById(hash);
    fileIdElm.className += ' highlight';
  });
  
  if (window.location.hash) {
    $(window).trigger('hashchange');
  }
  </script>
{% endblock %}
