{% extends "base.html" %}

{% block title %}
Staging
{% endblock %}

{% block content %}

  <h2>
    Showing files in staging state {{ transfers.start_index }} to {{ transfers.end_index }} out of {{ paginator.count}}
    {% if transfers.has_previous %}
      <a href="?page=1&{{ extra_args }}">&lt;&lt;</a>
      <a href="?page={{ transfers.previous_page_number }}">&lt;</a>
    {% else %}
      &lt; &lt;&lt;
    {% endif %} | 
    {% if transfers.has_next %}
      <a href="?page={{ transfers.next_page_number }}">&gt;</a>
      <a href="?page={{ paginator.num_pages }}">&gt;&gt;</a>
    {% else %}
      &gt; &gt;&gt;
    {% endif %}
  </h2>

  <table class="queueList">
    <thead>
      <tr>
        <th>FILE ID</th>
        <th>JOB ID</th>
        <th>VO</th>
        <th>SOURCE URL</th>
        <th>DESTINATION URL</th>
        <th>STARTED</th>
        <th>BRING ONLINE</th>
        <th>PIN LIFETIME</th>
        <th>TOKEN</th>
      </tr>
    </thead>
    <tbody>
      {% for t in transfers.object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ t.file_id }}</td>
          <td>
            <a href="{% url ftsmon.views.jobDetails t.job.job_id %}">
              {{ t.job.job_id }}
            </a>
          </td>
          <td>{{ t.job.vo_name }}</td>
          <td>{{ t.source_surl }}</td>
          <td>{{ t.dest_surl }}</td>
          <td>{{ t.staging_start }}</td>
          <td>{{ t.job.bring_online }}</td>
          <td>{{ t.job.copy_pin_lifetime }}</td>
          <td>{{ t.bringonline_token }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
