[Unit]
Description=File Transfer Service - MyOSG Updater

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /var/lock/subsys/fts-myosg-updater
ExecStop=/usr/bin/rm /var/lock/subsys/fts-myosg-updater
RemainAfterExit=True

[Install]
WantedBy=multi-user.target

