/* HTML Elements */
a {
  color: blue;
}

a:visited {
  color: blue;
}

body {
  background: white;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
  font-size: 11pt;
  padding: 0;
  padding-bottom: 2em;
  margin: auto;
  width: 95%;
}

div {
  margin: 0;
  padding: 0;
}

h1 a {
  color: #406080;
  text-decoration: none;
}

h1 a:visited {
  color: #406080;
}

h1 a:hover {
  text-decoration: underline;
}

h1 img {
  vertical-align: middle;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  font-size: 95%;
  width: 100%;
  font-family: monospace;
}

td {
  padding: 0.2em 1em 0.2em 1em;
}

th {
  background: #CAE8EA;
  padding: 0.2em;
}

/* Table even/odd rows */
tr.odd {
  background: white;
}

tr.even {
  background: #DDD;
}

/* Content */

/* Header elements */
#toolbox {
  background: #406080;
  text-align: left;
  position: relative;
  height: 1.5em;
}

#toolbox a {
  color: white;
  font-size: 120%;
  padding-right: 1em;
  text-decoration: none;
}

#toolbox a:visited {
  color: white;
}

#toolbox a:hover {
  text-decoration: underline;
}

#toolbox div {
  display: inline;
  padding-left: 1em;
}

#toolbox form {
  display: inline;
  position: absolute;
  right: 0;
}

#toolbox form input {
  border: solid 1px;
}

/* Filter box */
#filter_container a {
  font-size: 80%;
}

#filters {
  background: #CCC;
  padding: 0.5em;
  border: groove 2px;
}

#filters input.text_field {
  width: 20em;
}

#filters label {
  display: inline-block;
  width: 10em;
  font-weight: bold;
}

#filters input {
  border: solid 1px gray;
}

/* Message dialogs */
.details {
  display: none;
  background: #CCCCCC;
}

.error {
  font-size: 80%;
  border: dotted 1px;
  padding: 0.1em;
  background-color: #FF9999;
}

.msgBox {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -7.5em;
}

.msgBox p {
  font-size: 1500%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.reason {
  font-family: mono;
  border: dotted 1px black;
  padding: 0.5em;
  background: #FFFFCC;
}

.reason a {
  color: blue;
  text-decoration: none;
}

.reason a:hover {
  text-decoration: underline;
}

/* States */
td.SUBMITTED {
  background: #FFFFAB;
}

td.READY {
  background: #99FFFF;
}

td.ACTIVE {
  background: #AAAAFF;
}

td.FAILED {
  background: #FFAAAA;
}

td.FINISHED {
  background: #AAFFAA
}

td.FINISHEDDIRTY {
  background: #AAAAAA;
}

td.CANCELED {
  background: #FF7777;
}

td.STAGING {
  background: #5959FF;
}

/* Job list */
table.jobList td {
  text-align: center;
}

table.jobList tr td:nth-child(1) {
  text-align: left;
}

/* File list */
table.fileList td {
  text-align: center;
}

table.fileList tr td:nth-child(1) {
  text-align: left;
}

/* Queue */
table.queueList tr td {
  text-align: center;
}

/* Optimizer */
table.optimizer tr td {
	text-align: center;
}

/* Statistics */
#statistics em {
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: 18em;
}

#statistics div {
  min-height: 300px;
}

.centered {
  text-align: center;
}

.ui-tabs {
  border: none;
}

.ui-tabs-nav a {
  color: black;
}

.ui-tabs-nav a:visited {
  color: black;
}

.ui-tabs-nav {
  background: none;
  border: none;
}

.ui-tabs-nav .ui-state-default {
  background: #CCC;
}

.ui-tabs-nav .ui-tabs-active {
  background: #E5E5E5;
  border: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-top {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
}

.ui-tabs div.ui-tabs-panel {
  border: none;
  background: #E5E5E5;
}

/* Config audit */
table.configAudit tbody {
  font-family: mono;
}

table.configAudit .delete td:nth-child(1) {
  background-color: #FF7777;
}

table.configAudit .insert td:nth-child(1) {
  background-color: #AAFFAA;
}

table.configAudit .update td:nth-child(1) {
  background-color: #88BBFF;  
}
