/* HTML Elements */

body {
  background: white;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
  font-size: 12pt;
  padding: 0;
  padding-bottom: 2em;
  margin: auto;
  width: 95%;
}

div {
  margin: 0;
  padding: 0;
}

h1 a {
  color: #406080;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

h1 img {
  vertical-align: middle;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  font-size: 95%;
  width: 100%;
}

td {
  padding: 0.2em;
}

th {
  background: #CAE8EA;
  padding: 0.2em;
}

/* Table even/odd rows */
tr.even {
  background: #DDD;
}

/* Content */
#content a {
  color: blue;
}

#content a:visited {
  color: blue;
}

/* Header elements */
#toolbox {
  background: #406080;
  text-align: left;
  position: relative;
  height: 1.5em;
}

#toolbox a {
  color: white;
  font-size: 120%;
  padding-right: 1em;
  text-decoration: none;
}

#toolbox a:visited {
  color: white;
}

#toolbox a:hover {
  text-decoration: underline;
}

#toolbox div {
  display: inline;
  padding-left: 1em;
}

#toolbox form {
  display: inline;
  position: absolute;
  right: 0;
}

#toolbox form input {
  border: solid 1px;
}

/* Filter box */
#filter_container a {
  font-size: 80%;
}

#filters {
  background: #CCC;
  padding: 0.5em;
  border: groove 2px;
}

#filters input.text_field {
  width: 20em;
}

#filters label {
  display: inline-block;
  width: 10em;
  font-weight: bold;
}

/* Message dialogs */
.details {
  display: none;
  background: #CCCCCC;
}

.error {
  font-size: 80%;
  border: dotted 1px;
  padding: 0.1em;
  background-color: #FF9999;
}

.msgBox {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -7.5em;
}

.msgBox p {
  font-size: 1500%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.reason {
  font-family: mono;
  border: dotted 1px black;
  padding: 0.5em;
  background: #FFFFCC;
}

/* Job list */
table.jobList td {
  text-align: center;
}

table.jobList tr td:nth-child(1) {
  text-align: left;
}

table.jobList tr.FAILED td:nth-child(3) {
  background: #FFAAAA;
}

table.jobList tr.FINISHED td:nth-child(3) {
  background: #AAFFAA
}

table.jobList tr.SUBMITTED td:nth-child(3) {
  background: #FFFFAA
}

table.jobList tr.READY td:nth-child(3) {
  background: #99FFFF
}

table.jobList tr.ACTIVE td:nth-child(3) {
  background: #AAAAFF
}

table.jobList tr.FINISHEDDIRTY td:nth-child(3) {
  background: #AAAAAA;
}

table.jobList tr.CANCELED td:nth-child(3) {
  background: #FF7777;
}

/* File list */
table.fileList td {
  text-align: center;
}

table.fileList tr td:nth-child(1) {
  text-align: left;
}

table.fileList tr.FAILED td:nth-child(4) {
  background: #FFAAAA;
}

table.fileList tr.FINISHED td:nth-child(4) {
  background: #AAFFAA;
}

table.fileList tr.SUBMITTED td:nth-child(4) {
  background: #FFFFAA;
}

table.fileList tr.READY td:nth-child(4) {
  background: #99FFFF;
}

table.fileList tr.ACTIVE td:nth-child(4) {
  background: #AAAAFF;
}

table.fileList tr.FINISHEDDIRTY td:nth-child(4) {
  background: #AAAAAA;
}

table.fileList tr.CANCELED td:nth-child(4) {
  background: #FF7777;
}

/* Statistics */
table.statistics tr td:nth-child(1) {
  font-weight: bold;
  width: 10em;
}

table.statistics span.ACTIVE {
  color: green;
}

table.statistics span.SUBMITTED {
  color: #ff6600;
}

table.statistics span.READY {
  color: blue;
}

/* Config audit */
table.configAudit tbody {
  font-family: mono;
}

table.configAudit .delete td:nth-child(1) {
  background-color: #FF7777;
}

table.configAudit .insert td:nth-child(1) {
  background-color: #AAFFAA;
}

table.configAudit .update td:nth-child(1) {
  background-color: #88BBFF;  
}
