{% extends "base.html" %}

{% block title %} Statistics - Overview {% endblock %}

{% block content %}
<h2>Statistics - Overview</h2>

<div id="statistics"
	class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	{% include "statistics/tabs.html" with tab_overview=1 %}

	<div aria-labelledby="ui-id-1"
		class="ui-tabs-panel ui-widget-content ui-corner-bottom"
		role="tabpanel" aria-expanded="true" aria-hidden="false">


		<div>
			<h3>For the last 24 hours</h3>
			<img style="float: right"
				src="{% url ftsmon.views.plots.pie %}?t=Overview&l=Failed,Finished,Canceled,Queued,Active,Staging&v={{overall.failed}},{{overall.finished}},{{overall.canceled}},{{overall.queued}},{{overall.active}},{{overall.staging}}&c=r,g,y,b,m,c" />
			<ul>
				<li><em>Total transfers queued:</em>
				    <span class="submitted">{{overall.submitted }} Submitted</span>
				</li>
				<li><em>Total transfers active:</em>
				    <span class="ready">{{overall.ready }} Ready</span>,
				    <span class="active">{{overall.active }} Active</span>,
				    <span class="staging">{{overall.staging }} Staging</span>
				</li>
				<li><em>Total transfers succeeded:</em>
				    <span class="finished">{{overall.finished }} Finished</span>
				</li>
				<li><em>Total transfers failed:</em>
				    <span class="failed">{{overall.failed }} Failed</span>,
				    <span class="canceled">{{overall.canceled }} Canceled</span>
				</li>
			</ul>
			
			<h3>For the last hour</h3>
			<lu>
				<li><em>Success rate:</em>
				    <span class="rate">{{overall.rate|floatformat:2 }}%</span>
				</li>
				<li><em>Transfers succcesfully retried:</em>
				    <span class="finished">{{retried.finished}}</span>
			    </li>
			    <li><em>Transfers retried and failed:</em>
                    <span class="failed">{{retried.failed}}</span>
                </li>			    
			</ul>
		</div>
	</div>
</div>
{% endblock %}
