{% load settingsTag %}
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>
      {% getSetting "SITE_NAME" %} FTS3 - {% block title %}{% endblock %}
    </title>
    
    <link rel="shortcut icon" href="{% getSetting 'SITE_LOGO_SMALL' %}"/>
    
    <link rel="stylesheet" href="{{STATIC_URL}}css/flick/jquery-ui-1.10.3.custom.min.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css"/>

    <script src="{{STATIC_URL}}js/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    
    {% block refresh %}
      {% include "refresh.html" %}
    {% endblock %}
  </head>
  
  <body>
    <div id="header">
      <h1>
        <img src="{% getSetting 'SITE_LOGO' %}" alt="{% getSetting 'SITE_NAME' %}"/>
        <a href="{% url ftsmon.views.jobs.jobIndex %}">{% getSetting "SITE_NAME" %} FTS3 Monitoring</a>
      </h1>
    </div>
    
    <div id="toolbox">
      <div id="links">
        <a href="{% url ftsmon.views.jobs.jobIndex %}">Jobs</a>
        <a href="{% url ftsmon.views.queue.queue %}">Queue</a>
        <a href="{% url ftsmon.views.jobs.staging %}">Staging</a>
        <a href="{% url ftsmon.views.optimizer.optimizer %}">Optimizer</a>
        <a href="{% url ftsmon.views.errors.showErrors %}">Error reasons</a>
        <a href="{% url ftsmon.views.statistics.overview %}">Statistics</a>
        <a href="{% url ftsmon.views.statistics.configurationAudit %}">Configuration audit</a>
        <a href="{% url ftsmon.views.jobs.archiveJobIndex %}">Archive</a>
      </div>
    </div>
    <div id="jobSearchForm">
      <form method="get" action="{% url ftsmon.views.jobs.jobIndex %}">
        <input type="text" name="jobId" size="40"/>
        <input type="submit" value="Search job"/>
      </form>
    </div>
      
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>    
  </body>
</html>
