{% extends "base.html" %}

{% block title %}
Configuration audit
{% endblock %}

{% block content %}
  <h2>Configuration audit</h2>
  
  <table class="configAudit">
    <thead>
      <tr>
       <th>Action</th>
        <th>Configuration</th>
        <th>Time</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      {% for c in configs %}
        <tr class="{{ c.simple_action }} {% cycle 'odd' 'even' %}">
          <td>{{ c.action }}</td>
          <td>{{ c.config }}</td>
          <td>{{ c.datetime }}</td>
          <td>{{ c.dn }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
