{% load settingsTag %}

<!doctype html>
<html lang="en" ng-app="ftsmon">
	<head>
		<meta charset="utf-8">
		
		<title>
		  {% getSetting "SITE_NAME" %} FTS3
	    </title>
		<link rel="shortcut icon" href="{% getSetting 'SITE_LOGO_SMALL' %}" />
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.js"></script>
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>
		
		<script>var STATIC_ROOT="{{STATIC_URL}}";</script>
		
		<script src="{{STATIC_URL}}js/ftsmon.js"></script>
		<script src="{{STATIC_URL}}js/resources.js"></script>
		<script src="{{STATIC_URL}}js/jobs.js"></script>
		<script src="{{STATIC_URL}}js/queue.js"></script>
		<script src="{{STATIC_URL}}js/staging.js"></script>
		<script src="{{STATIC_URL}}js/optimizer.js"></script>
		
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/overrides.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<header class="header">
			<div class="navbar navbar-fixed-top">
				<div class="brand">
					<img class="" src="{{STATIC_URL}}img/loader.gif" ng-show="loading">
				</div>
				<div class="navbar-inner">
					<div class="container">
						<span class="brand" href="/">
						  <img style="height: 24px" src="{% getSetting 'SITE_LOGO' %}">
						</span>
						<ul class="nav">
							<li><a href="#">Jobs</a></li>
							<li><a href="#queue">Queue</a></li>
							<li><a href="#staging">Staging</a></li>
							<li><a href="#optimizer">Optimizer</a></li>
							<li><a href="#errors">Error reasons</a></li>
							<li><a href="#statistics">Statistics</a></li>
							<li><a href="#configaudit">Configuration audit</a></li>
							<li><a href="#archive">Archive</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<div role="main">
			<div ng-view></div>
		</div>
	</body>
</html>
