{% extends "base.html" %}

{% block title %}
Unique errors
{% endblock %}

{% block refresh %}
{% endblock %}

{% block content %}
<script type="text/javascript">
function showError(node)
{
    form = document.getElementById("submitForm");
    form.formReason.value = node.text;
    form.submit();
}
</script>

<form method="POST" action="{% url ftsmon.views.transfersWithError %}" style="display: hidden" id="submitForm">
    <input type="hidden" name="reason" id="formReason"/>
    {% csrf_token %}
</form>

<h3>Unique errors in the last 12 hours</h3>
<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    {% for r in errors %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ r.count }}</td>
        <td class="reason">
          <a href="#" onclick="javascript:showError(this)">"{{ r.reason }}"</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
