{% extends "base.html" %}

{% block title %}
Unique errors
{% endblock %}

{% block refresh %}
{% endblock %}

{% block content %}
<h3>Unique errors in the last 12 hours</h3>
<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    {% for r in errors %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ r.count }}</td>
        <td class="reason">
          <a href="{% url ftsmon.views.transfersWithError %}?reason={{r.reason|urlencode:''}}">"{{ r.reason }}"</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
