
<div id="filter_container">

  {% if filterForm.is_valid %}
  <div id="filters" style="display: none">
  {% else %}
  <div id="filters">
  {% endif %}
    <form method="GET">
      <p>
        <label for="filter_source_se">Source SE:</label>
        <input type="text" id="filter_source_se" name="source_se" class="text_field"
               value="{{filterForm.source_se.data|default_if_none:''}}"/>
      </p>
      
      <p>
        <label for="filter_dest_se">Destination SE:</label>
        <input type="text" id="filter_dest_se" name="dest_se" class="text_field"
               value="{{filterForm.dest_se.data|default_if_none:''}}"/>
      </p>
      
      <p>
        <label for="filter_state">State:</label>
        <input type="text" id="filter_state" name="state" class="text_field"
               value="{{filterForm.state.data|default_if_none:''}}"/>
        {% if filterForm.state.errors %}
          <span class="error">
            {% for error in filterForm.state.errors %}
              {{ error|escape }}
            {% endfor %}
          </span>
        {% endif %}
      </p>
      
      <p>
        <label for="filter_vo">VO:</label>
        <input type="text" id="filter_vo" name="vo" class="text_field"
               value="{{filterForm.vo.data|default_if_none:''}}"/>
      </p>

      {% if dateWindow %}
      <p>
        <label for="filter_startdate">Start date:</label>
        <input type="text" id="filter_startdate" name="startdate" class="text_field"
               value="{{filterForm.startdate.data|default_if_none:''}}"/>
        {% if filterForm.startdate.errors %}
          <span class="error">
            {% for error in filterForm.startdate.errors %}
              {{ error|escape }}
            {% endfor %}
          </span>
        {% endif %}
        
        <label for="filter_enddate">End date:</label>
        <input type="text" id="filter_enddate" name="enddate" class="text_field"
               value="{{filterForm.enddate.data|default_if_none:''}}"/>
        {% if filterForm.enddate.errors %}
          <span class="error">
            {% for error in filterForm.enddate.errors %}
              {{ error|escape }}
            {% endfor %}
          </span>
        {% endif %}
      </p>
      {% else %}
      <p>
        <label for="filter_timewindow">Time window:</label>
        <input type="text" id="filter_timewindow" name="time_window" class="text_field"
               value="{{filterForm.time_window.data|default_if_none:12}}"/> h.
        {% if filterForm.time_window.errors %}
          <span class="error">
            {% for error in filterForm.time_window.errors %}
              {{ error|escape }}
            {% endfor %}
          </span>
        {% endif %}
      </p>
      {% endif %}
      
      <p>
        <label for="filter_metadata">Metadata:</label>
        <input type="text" id="filter_metadata" name="metadata" class="text_field"
               value="{{filterForm.metadata.data|default_if_none:''}}"/>
        {% if filterForm.metadata.errors %}
          <span class="error">
            {% for error in filterForm.metadata.errors %}
              {{ error|escape }}
            {% endfor %}
          </span>
        {% endif %}
      </p>
      
      <p>
        <input type="submit"/>
      </p>      
    </form>
  </div>
  <p>
    <a href="#" onclick="showFilters();">
      [Filters]
    </a>
  </p>
  {% if message %}
  <p class="error">
    {{ message }}
  </p>
  {% endif %}
  
  <script type="text/javascript">
  $("#filter_source_se").autocomplete({source: "{% url ftsmon.views.autocomplete.uniqueSources archive %}"});
  $("#filter_dest_se").autocomplete({source: "{% url ftsmon.views.autocomplete.uniqueDestinations archive %}"});
  $("#filter_vo").autocomplete({source: "{% url ftsmon.views.autocomplete.uniqueVos archive %}"});
  
  {% if dateWindow %}
  $("#filter_startdate").datepicker();
  $("#filter_enddate").datepicker();
  {% endif %}
  
  function split(val) {
	  return val.split(/,\s*/);
  }
  
  function extractLast(term) {
	  return split(term).pop();
  }
  
  states = ["SUBMITTED", "READY", "ACTIVE", "FINISHED", "FINISHEDDIRTY", "FAILED", "CANCELED"];
  $("#filter_state").autocomplete({source: function(request, response) {
	                                           response($.ui.autocomplete.filter(states, extractLast(request.term)));
	                                         },
	                                 select: function (event, ui) {
	                                	         var terms = split(this.value);
	                                	         terms.pop();
	                                	         terms.push(ui.item.value);
	                                	         terms.push("");
	                                	         this.value = terms.join(", ");
	                                	         return false;
	                                         },
	                                 focus: function () { return false; }
                                  });
                                  
  function showFilters()
  {
    $('#filters').toggle('slide', {'direction':'up'});
    if (typeof autoRefresh !== 'undefined')
        clearTimeout(autoRefresh);
  }
  </script>
</div>
