{% extends "base.html" %}
{% load filesize %}

{% block refresh %}
  {% if not transferJob.isFinished %}
    {% include "refresh.html" %}
  {% endif %} 
{% endblock %}

{% block content %}
  <h2>Transfer '{{transferJob.job_id}}' {{transferJob.job_state}}</h2>
  <p>
    Submitted by <span class="dn">'{{transferJob.user_dn}}'</span><br/>
    VO: <span class="vo">{{transferJob.vo_name}}</span><br/>
    Received by {{transferJob.submitHost}}<br/>
    Overwrite flag: {{transferJob.overwrite_flag}}
  </p>
  
  {% if transferJob.reason %}
    <p class="reason">
    {{transferJob.reason}}
    </p>
  {% endif %}
    
  <h3>The job contains {{ transferFiles|length}} transfers</h3>
  
  <table class="fileList">
    <thead>
      <tr>
        <th>FILE ID</th>
        <th>SOURCE URL</th>
        <th>DEST URL</th>
        <th>FILE STATE</th>
        <th>FILE SIZE</th>
        <th>THROUGHPUT</th>
        <th>START TIME</th>
        <th>FINISH TIME</th>
        <th>TRANSFER HOST</th>
      </tr>
    </thead>
    <tbody>
      {% for t in transferFiles %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>
            <img alt="[+]" src="{{ STATIC_URL }}plus.gif"  title="Show details"  onclick="$('#{{t.file_id}}').toggle()"/>
            {{ t.file_id }}
          </td>
          <td>{{ t.source_surl }}</td>
          <td>{{ t.dest_surl }}</td>
          <td class="{{ t.file_state }}">{{ t.file_state }}</td>
          <td>{% filesize t.filesize %}</td>
          <td>{{ t.throughput }} MiB/sec</td>
          <td>{{ t.start_time }}</td>
          <td>{{ t.finish_time }}</td>
          <td>{{ t.transferHost }}</td>
        </tr>
        <tr class="details" id="{{t.file_id}}">
          <td colspan="8">
            <ul>
              <li><b>Attempts:</b> {{ t.retry }}</li>
              <li><b>Duration:</b> {{ t.tx_duration }} seconds</li>
              <li><b>Checksum:</b> {{ t.checksum }}</li>
              <li><b>Configuration: </b> {{ t.symbolicName }}</li>
              <li><b>Parameters:</b> {{ t.internal_file_params }}</li>
              {% if t.reason %}
                <li><b>Reason:</b> {{ t.reason }}</li>
              {% endif %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
