{% extends "base.html" %}

{% block content %}

{% include "filter.html" %}

<h2>
  Showing {{ jobs.start_index }} to {{ jobs.end_index }} out of {{ paginator.count}} {{ additionalTitle }}
  {% if jobs.has_previous %}
    <a href="?page=1&{{ extra_args }}">&lt;&lt;</a>
    <a href="?page={{ jobs.previous_page_number }}&{{ extra_args }}">&lt;</a>
  {% else %}
    &lt; &lt;&lt;
  {% endif %} | 
  {% if jobs.has_next %}
    <a href="?page={{ jobs.next_page_number }}&{{ extra_args }}">&gt;</a>
    <a href="?page={{ paginator.num_pages }}&{{ extra_args }}">&gt;&gt;</a>
  {% else %}
    &gt; &gt;&gt;
  {% endif %}
</h2>

<table class="jobList">
  <thead>
    <tr>
      <th>JOB ID</th>
      <th>SUBMIT TIME</th>
      <th>JOB STATE</th>
      <th>VO</th>
      <th>SOURCE SE</th>
      <th>DEST SE</th>
      <th>SUBMISSION HOST</th>
    </tr>
  </thead>
  <tbody>
    {% for j in jobs.object_list %}
      <tr class="{{ j.job_state }} {% cycle 'odd' 'even' %}">
        <td>
          <img src="{{ STATIC_URL }}plus.gif" title="Show details" onclick="$('#{{j.job_id}}').toggle()"/>
          <a href="{% url ftsmon.views.jobDetails j.job_id %}"> {{j.job_id }} </a>
        </td>
        <td>{{ j.submit_time }}</td>
        <td>{{ j.job_state }}</td>
        <td>{{ j.vo_name }}</td>
        <td>{{ j.source_se }}</td>
        <td>{{ j.dest_se }}</td>
        <td>{{ j.submitHost }}</td>
      </tr>
      <tr class="details" id="{{j.job_id}}">
        <td colspan="7">
          <ul>
            <li><b>Finish time:</b> {{ j.finish_time }}</li>
            <li><b>User DN:</b> {{ j.user_dn }}</li> {% if j.reason %}
            <li><b>Reason:</b> {{ j.reason }}</li> {% endif %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
