{% extends "base.html" %}

{% block title %}
Jobs
{% endblock %}

{% block content %}

{% include "filter.html" %}

<h2>
  Showing {{ jobs.start_index }} to {{ jobs.end_index }} out of {{ paginator.count}} {{ additionalTitle }}
  {% if jobs.has_previous %}
    <a href="?page=1&{{ extra_args }}">&lt;&lt;</a>
    <a href="?page={{ jobs.previous_page_number }}&{{ extra_args }}">&lt;</a>
  {% else %}
    &lt; &lt;&lt;
  {% endif %} | 
  {% if jobs.has_next %}
    <a href="?page={{ jobs.next_page_number }}&{{ extra_args }}">&gt;</a>
    <a href="?page={{ paginator.num_pages }}&{{ extra_args }}">&gt;&gt;</a>
  {% else %}
    &gt; &gt;&gt;
  {% endif %}
</h2>

<table class="jobList">
  <thead>
    <tr>
      <th>JOB ID</th>
      <th>SUBMISSION HOST</th>
      <th>SUBMIT TIME</th>
      <th>JOB STATE</th>
      <th>VO</th>
      <th>SOURCE SPACE TOKEN</th>
      <th>DEST SPACE TOKEN</th>
      <th>METADATA</th>
    </tr>
  </thead>
  <tbody>
    {% for j in jobs.object_list %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>
          <img src="{{ STATIC_URL }}plus.gif" title="Show details" onclick="$('#{{j.job_id}}').toggle()"/>
          <a href="{% url ftsmon.views.jobDetails j.job_id %}"> {{j.job_id }} </a>
        </td>
        <td>{{ j.submit_host }}</td>
        <td>{{ j.submit_time }}</td>
        <td class="{{ j.job_state }}">{{ j.job_state }}</td>
        <td>{{ j.vo_name }}</td>
        <td>{{ j.source_space_token }}</td>
        <td>{{ j.space_token }}</td>
        <td>{{ j.job_metadata }} </td>
      </tr>
      <tr class="details" id="{{j.job_id}}">
        <td colspan="10">
          <ul>
            <li><b>Priority:</b> {{ j.priority }}</li>
            <li><b>Finish time:</b> {{ j.finish_time }}</li>
            <li><b>User DN:</b> {{ j.user_dn }}</li> {% if j.reason %}
            <li><b>Reason:</b> {{ j.reason }}</li> {% endif %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
// Disable refresh when clicking a link on the table 
var disableF = function() { clearTimeout(autoRefresh); };
var links = document.getElementsByClassName('jobList')[0].getElementsByTagName('a');
for (var i = 0; i < links.length; i++) {
	links[i].onclick = disableF;
}
</script>
{% endblock %}
