{% extends "base.html" %}

{% block title %}
Optimizer
{% endblock %}

{% block content %}

<div id="filter_container">
	  {% if filterForm.is_valid %}
	  <div id="filters" style="display: none">
	  {% else %}
	  <div id="filters">
	  {% endif %}
		<form method="GET" action="{% url ftsmon.views.optimizer %}">
	      <p>
	        <label for="filter_source_se">Source SE:</label>
	        <input type="text" id="filter_source_se" name="source_se" class="text_field"
	               value="{{filterForm.source_se.value|default_if_none:''}}"/>
	      </p>
	      <p>
	        <label for="filter_dest_se">Destination SE:</label>
	        <input type="text" id="filter_dest_se" name="dest_se" class="text_field"
	               value="{{filterForm.dest_se.value|default_if_none:''}}"/>
	      </p>
	      <p>
	        <label for="filter_timewindow">Time window:</label>
	        <input type="text" id="filter_timewindow" name="time_window" class="text_field"
	               value="{{filterForm.time_window.value|default_if_none:1}}"/> h.
	        {% if filterForm.time_window.errors %}
	          <span class="error">
	            {% for error in filterForm.time_window.errors %}
	              {{ error|escape }}
	            {% endfor %}
	          </span>
	        {% endif %}
	      </p>
	      <p>
	        <input type="submit"/>
	      </p>      
	    </form>
	</div>
  	<p>
    	<a href="#" onclick="javascript:clearTimeout(autoRefresh); $('#filters').toggle('slide', {'direction':'up'})">
	      [Filters]
	    </a>
  	</p>
 	<script type="text/javascript">
	  $("#filter_source_se").autocomplete({source: "{% url ftsmon.views.uniqueSources %}"});
	  $("#filter_dest_se").autocomplete({source: "{% url ftsmon.views.uniqueDestinations %}"});
  </script>
</div>


<h2>
	Optimizer (Showing {{ optimizations.start_index }} to {{ optimizations.end_index }} out of {{ paginator.count}} entries)
	{% if optimizations.has_previous %}
	  <a href="?page=1&{{ extra_args }}">&lt;&lt;</a>
	  <a href="?page={{ optimizations.previous_page_number }}&{{ extra_args }}">&lt;</a>
	{% else %}
	  &lt; &lt;&lt;
	{% endif %} | 
	{% if optimizations.has_next %}
	  <a href="?page={{ optimizations.next_page_number }}&{{ extra_args }}">&gt;</a>
	  <a href="?page={{ paginator.num_pages }}&{{ extra_args }}">&gt;&gt;</a>
	{% else %}
	  &gt; &gt;&gt;
	{% endif %}
</h2>

<table class="optimizer">
	<thead>
		<tr>
			<th></th>
			<th>Source</th>
			<th>Destination</th>
			<th>Number of samples</th>
			<th>Max. Throughput (MB/s)</th>
			<th>Avg. Throughput (MB/s)</th>
			<th>Std. Deviation</th>
		</tr>
	</thead>
	<tbody>
	{% for o in optimizations.object_list %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td>
				{% with escapedSource=o.source_se|urlencode:"" %}
				{% with escapedDestination=o.dest_se|urlencode:"" %}
                <a href="{% url ftsmon.views.optimizerDetailed %}?source={{ escapedSource }}&destination={{ escapedDestination }}&time_window={{ filterForm.time_window.value }}">
                    <img src="{{ STATIC_URL }}detailed.png" title="View details" alt="[Detailed]"/>
                </a>
				{% endwith %}
				{% endwith %}
			</td>
			<td>{{ o.source_se }}</td>
			<td>{{ o.dest_se }}</td>
			<td>{{ o.count }}</td>
			<td>{{ o.max_throughput|floatformat:2 }}</td>
			<td>{{ o.avg_throughput|floatformat:2 }}</td>
			<td>{{ o.std_deviation|floatformat:2 }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
