{% extends "base.html" %}

{% block title %}
Optimizer
{% endblock %}

{% block content %}

<div id="filter_container">
	  {% if filterForm.is_valid %}
	  <div id="filters" style="display: none">
	  {% else %}
	  <div id="filters">
	  {% endif %}
		<form method="GET" action="{% url ftsmon.views.optimizer %}">
	      <p>
	        <label for="filter_source_se">Source SE:</label>
	        <input type="text" id="filter_source_se" name="source_se" class="text_field"
	               value="{{filterForm.source_se.value|default_if_none:''}}"/>
	      </p>
	      <p>
	        <label for="filter_dest_se">Destination SE:</label>
	        <input type="text" id="filter_dest_se" name="dest_se" class="text_field"
	               value="{{filterForm.dest_se.value|default_if_none:''}}"/>
	      </p>
	      <p>
	        <input type="submit"/>
	      </p>      
	    </form>
	</div>
  	<p>
    	<a href="#" onclick="javascript:clearTimeout(autoRefresh); $('#filters').toggle('slide', {'direction':'up'})">
	      [Filters]
	    </a>
  	</p>
 	<script type="text/javascript">
	  $("#filter_source_se").autocomplete({source: "{% url ftsmon.views.uniqueSources %}"});
	  $("#filter_dest_se").autocomplete({source: "{% url ftsmon.views.uniqueDestinations %}"});
  </script>
</div>


<h2>
	Optimizer (showing  Showing {{ optimizations.start_index }} to {{ optimizations.end_index }} out of {{ paginator.count}} entries)
	{% if optimizations.has_previous %}
	  <a href="?page=1&{{ extra_args }}">&lt;&lt;</a>
	  <a href="?page={{ optimizations.previous_page_number }}&{{ extra_args }}">&lt;</a>
	{% else %}
	  &lt; &lt;&lt;
	{% endif %} | 
	{% if optimizations.has_next %}
	  <a href="?page={{ optimizations.next_page_number }}&{{ extra_args }}">&gt;</a>
	  <a href="?page={{ paginator.num_pages }}&{{ extra_args }}">&gt;&gt;</a>
	{% else %}
	  &gt; &gt;&gt;
	{% endif %}
</h2>

<table class="optimizer">
	<thead>
		<tr>
			<th>Source</th>
			<th>Destination</th>
			<th>Active</th>
			<th>N. Streams</th>
			<th>Timeout</th>
			<th>Throughput</th>
			<th>Buffer</th>
		</tr>
	</thead>
	<tbody>
	{% for o in optimizations.object_list %}
		<tr>
			<td>{{ o.source_se }}</td>
			<td>{{ o.dest_se }}</td>
			<td>{{ o.active }}</td>
			<td>{{ o.nostreams }}</td>
			<td>{{ o.timeout }}</td>
			<td>{{ o.throughput }}</td>
			<td>{{ o.buffer }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
