{% extends "base.html" %}
{% load filesize %}

{% block title %}
Queue
{% endblock %}

{% block content %}

<h2>
    Showing {{ pairsPerVo.start_index}} to {{ pairsPerVo.end_index}} pairs/vo out of {{ paginator.count }}
    {% if pairsPerVo.has_previous %}
	    <a href="?page=1">&lt;&lt;</a>
	    <a href="?page={{ pairsPerVo.previous_page_number }}">&lt;</a>
    {% else %}
        &lt; &lt;&lt;
    {% endif %} | 
    {% if pairsPerVo.has_next %}
	    <a href="?page={{ pairsPerVo.next_page_number }}">&gt;</a>
	    <a href="?page={{ paginator.num_pages }}">&gt;&gt;</a>
    {% else %}
        &gt; &gt;&gt;
    {% endif %}
</h2>

<table class="queueList">
    <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>VO</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
	{% for p in pairsPerVo.object_list %}
	   <tr>
	       <td>{{ p.source_se }}</td>
	       <td>{{ p.dest_se }}</td>
	       <td>{{ p.job__vo_name }}</td>
	       <td>
	           <a href="{% url ftsmon.views.queue %}?source_se={{ p.source_se|urlencode }}&dest_se={{ p.dest_se|urlencode}}&vo={{ p.job__vo_name|urlencode }}">
	               {{ p.ntransfers }}
	           </a>
           </td>
	   </tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
