{% extends "base.html" %}
{% load filters %}
{% load urlLog %}

{% block title %}
Statistics
{% endblock %}

{% block content %}
  <h2>Statistics</h2>
  
  <div id="statistics">  
    <ul>
      <li><a href="#overview">Overview</a></li>
      <li><a href="#fts3">FTS3 Servers</a></li>
      <li><a href="#perPair">Per pair</a></li>
      <li><a href="#perVo">Per vo</a></li>
    </ul>
    
    
    <div id="overview">
      <img style="float: right"
           src="{% url ftsmon.views.pie %}?t=Overview&l=Failed,Finished,Canceled,Queued,Active,Staging&v={{overall.failed}},{{overall.finished}},{{overall.canceled}},{{overall.queued}},{{overall.active}},{{overall.staging}}&c=r,g,y,b,m,c"/>
      <ul>
        <li>
          <em>Total transfers queued:</em>
          <span class="submitted">{{ overall.submitted }} Submitted</span>
        </li>
        <li>
          <em>Total transfers active:</em>
          <span class="ready">{{ overall.ready }} Ready</span>,
          <span class="active">{{ overall.active }} Active</span>,
          <span class="staging">{{ overall.staging }} Staging</span>
        </li>
        <li>
          <em>Total transfers succeeded:</em>
          <span class="finished">{{ overall.finished }} Finished</span>
        </li>
        <li>
          <em>Total transfers failed:</em>
          <span class="failed">{{ overall.failed }} Failed</span>,
          <span class="canceled">{{ overall.canceled }} Canceled</span>
        </li>
        <li>
          <em>Success rate in the last hour:</em>
          <span class="rate">{{ overall.rate|floatformat:2 }}%</span>
        </li>
      </ul>
    </div>
    
    <div id="fts3">
      <table>
        <thead>
          <tr>
            <th>Server</th>
            <th>Submissions received</th>
            <th>Transfers picked</th>
            <th>Transfers running</th>
          </tr>
        </thead>
        <tbody class="centered">
          {% for s in servers %}
            <tr class="{% cycle 'odd' 'even' %}">
              <td>
                {{ s.hostname }}
                [<a href="{% urlServerLog s %}">Logs</a>]
              </td>
              <td>{{ s.submissions }}</td>
              <td>{{ s.transfers }}</td>
              <td>{{ s.active }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p style="text-align: center">
        <img src="{% url ftsmon.views.pie %}?t=Submissions&l={{ servers|partition:'hostname'|join:',' }}&v={{ servers|partition:'submissions'|join:','}}"/>
        <img src="{% url ftsmon.views.pie %}?t=Transfers&l={{ servers|partition:'hostname'|join:',' }}&v={{ servers|partition:'transfers'|join:','}}"/>
      </p>
    </div>
    
    <div id="perPair">
      <table>
        <thead>
          <tr>
            <th>
                Source
                <a href="{% url ftsmon.views.statistics %}#perPair">
                  <img src="{{STATIC_URL}}img/filter_clear.png" title="Clear filter"/>
                </a>
            </th>
            <th>
                Destination
                <a href="{% url ftsmon.views.statistics %}#perPair">
                  <img src="{{STATIC_URL}}img/filter_clear.png" title="Clear filter"/>
                </a>
            </th>
            <th>Transfers active</th>
            <th>Success rate*</th>
            <th>Avg. Throughput*</th>
            <th>Avg. Duration*</th>
          </tr>
        </thead>
        <tbody class="centered">
          {% for p in pairs %}
            <tr class="{% cycle 'odd' 'even' %}">
              <td>
                {{ p.source }}
                <a href="{% url ftsmon.views.statistics %}?{% with_query 'source_se' p.source %}#perPair">
                    <img src="{{ STATIC_URL }}img/filter.png" title="Filter by this source"/>
                </a>
              </td>
              <td>
                {{ p.destination }}
                <a href="{% url ftsmon.views.statistics %}?{% with_query 'dest_se' p.destination %}#perPair">
                    <img src="{{ STATIC_URL }}img/filter.png" title="Filter by this destination"/>
                </a>
               </td>
              <td>
                {% for s in p.active %}
                  {{ s.1 }} {{ s.0 }}
                {% endfor %}
              </td>
              <td>
                {% if p.successRate %}
                    {{ p.successRate|floatformat:2 }}%
                {% else %}
                    -
                {% endif %}
              </td>
              <td>{{ p.avgThroughput|floatformat:2 }} Mb/s</td>
              <td>{{ p.avgDuration|floatformat:1 }} s</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>(*) For transfers finished in the last five minutes</p>
    </div>
    
    <div id="perVo">
      <table>
        <thead>
          <tr>
            <th>VO</th>
            <th>Transfer states</th>
          </tr>
        </thead>
        <tbody class="centered">
          {% for v in vos %}
            <tr class="{% cycle 'odd' 'even' %}">
              <td>{{ v.vo }}</td>
              <td>
                {% for s in v.states %}
                  {{ s.1 }} {{ s.0 }}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <script type="text/javascript">
    $('#statistics').tabs({select: function(event, ui) {
    	                               window.location.hash = ui.tab.hash;
                                   }
                           });
    
  </script>
{% endblock %}
