<global-filter on-more="showFilterDialog()"></global-filter>

<h3>
    Showing {{jobs.startIndex}} to {{jobs.endIndex}} out of {{jobs.count}}
</h3>

<pagination rotate="false"
    page="jobs.page" total-items="jobs.count" items-per-page="jobs.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table">
    <thead>
        <tr>
            <th style="width: 12%">Job id</th>
            <th style="width: 12%">Submit time</th>
            <th style="width: 8%">Job state</th>
            <th style="width: 4%">VO</th>
            <th style="width: 20%">Source SE</th>
            <th style="width: 20%">Destination SE</th>
            <th style="width: 4%">Files</th>
            <th style="width: 6%">Priority</th>
            <th style="width: 14%">Destination space token</th>
        </tr>
    </thead>
    <tbody data-ng-repeat="job in jobs.items" data-ng-class-odd="'odd'" data-ng-class="classFromMetadata(job)">
        <tr>
            <td>
                <i class="icon-warning-sign" data-ng-show="job.diagnosis" data-tooltip="{{job.diagnosis}}"></i>
                <a href=#/job/{{job.job_id}}>{{job.job_id}}</a></td>
            <td>{{job.submit_time}}</td>
            <td class="status {{job.job_state}}">
                <span class="active" data-ng-click="job.show=!job.show" title="Details">{{job.job_state}}</span>
            </td>
            <td>{{job.vo_name}}</td>
            <td class="hscroll">{{job.source_se}}</td>
            <td class="hscroll">{{job.dest_se}}</td>
            <td>{{job.count}}</td>
            <td>{{job.priority}}</td>
            <td>{{job.space_token}}</td>
        </tr>
        <tr style="background: #CCC" data-ng-show="job.show">
            <td colspan="8">
                <dl>
                    <dt>File count</dt>
                    <dd>
                        <span data-ng-repeat="(state, count) in job.files">{{count}} {{state}} </span>
                    </dd>
                    <dt>Job finished time<dt>
                    <dd>{{job.job_finished}}</dd>
                </dl>
            </td>
        </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="jobs.page" total-items="jobs.count" items-per-page="jobs.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<!-- Modals -->
<div id="filterDialog" class="modal" role="dialog" style="display: none">
    <form data-ng-submit="applyFilters()" autocomplete="off">
	    <div class="modal-header">
	        <h3>Filters</h3>
	    </div>
	    <div class="modal-body">
	        <label>State:</label>
		    <p class="btn-group">
		        <button type="button" class="btn btn-info btn-small" data-ng-model="filter.state.submitted" data-btn-checkbox>SUBMITTED</button>
		        <button type="button" class="btn btn-info btn-small" data-ng-model="filter.state.ready" data-btn-checkbox>READY</button>
		        <button type="button" class="btn btn-primary btn-small" data-ng-model="filter.state.staging" data-btn-checkbox>STAGING</button>
		        <button type="button" class="btn btn-primary btn-small" data-ng-model="filter.state.active" data-btn-checkbox>ACTIVE</button>
                <button type="button" class="btn btn-primary btn-small" data-ng-model="filter.state.delete" data-btn-checkbox>DELETE</button>

	            <br/>
		        <button type="button" class="btn btn-danger  btn-small" data-ng-model="filter.state.canceled" data-btn-checkbox>CANCELED</button>
		        <button type="button" class="btn btn-danger btn-small" data-ng-model="filter.state.failed" data-btn-checkbox>FAILED</button>
		        <button type="button" class="btn btn-success btn-small" data-ng-model="filter.state.finished" data-btn-checkbox>FINISHED</button>
		        <button type="button" class="btn btn-warning btn-small" data-ng-model="filter.state.finisheddirty" data-btn-checkbox>FINISHED DIRTY</button>
		    </p>

            <p>
			    <label for="timewindow">Time window:</label>
			    <input type="number" placeholder="time window in hours" id="timewindow" data-ng-model="filter.time_window"/>
            </p>

            <p>
                <label for="diagnosis" class="checkbox inline">
                    <input type="checkbox" id="diagnosis" data-ng-model="filter.diagnosis"/>
                    Enable diagnosis mode
                </label>

                <label for="with-debug" class="checkbox inline">
                    <input type="checkbox" id="with-debug" data-ng-model="filter.with_debug"/>
                    With debug output
                </label>

                <label for="multireplica" class="checkbox inline">
                    <input type="checkbox" id="multireplica" data-ng-model="filter.multireplica"/>
                    Multireplica
                </label>
            </p>
	    </div>
	    <div class="modal-footer">
	        <a class="btn btn-success" data-ng-click="applyFilters()">Apply</a>
	        <a class="btn btn-danger" data-ng-click="cancelFilters()">Cancel</a>
	    </div>
    </form>

</div>
