<global-filter data-hide-vo="true" data-hide-pair="true"></global-filter>

<h2>
    Statistics -
    <div class="dropdown">
	    <a class="dropdown-toggle">
	        <span data-ng-show="host">{{host}}</span>
	        <span data-ng-show="!host">All</span>
	    </a>
	    <ul class="dropdown-menu">
	        <li>
	           <a data-ng-click="filterHost(null)">All</a>
	        </li>
	        <li data-ng-repeat="host in hostnames">
	           <a data-ng-click="filterHost(host)">{{host}}</a>
            </li>
	    </ul>
    </div>
</h2>

<div class="row-fluid">
    <div class="row-fluid">
		<div class="span6">
			<h4>Queue</h4>
			<table class="table">
			    <thead>
			        <tr>
			            <th>Submitted</th>
			            <th>Ready</th>
			            <th>Active</th>
			            <th>Staging</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>
			                <a href="#/transfers?hostname={{host}}&state=SUBMITTED">{{stats.lasthour.submitted}}</a>
			            </td>
			            <td>
			                <a href="#/transfers?hostname={{host}}&state=READY">{{stats.lasthour.ready}}</a>
			            </td>
			            <td>
			                <a href="#/transfers?hostname={{host}}&state=ACTIVE">{{stats.lasthour.active}}</a>
		                </td>
			            <td>
			                <a href="#/transfers?hostname={{host}}&state=STAGING">{{stats.lasthour.staging}}</a>
			            </td>
			        </tr>
			    </tbody>
			</table>
            <div data-ac-chart="'pie'" data-ac-data="plots.queue" data-ac-config="plots.queue.config" id="queue" class="chart">
            </div>
		</div>

		<div class="span6">
			<h4>
                For the last {{globalFilter.time_window || '1' }}
                <span data-ng-show="globalFilter.time_window == 1 || !globalFilter.time_window">hour</span>
                <span data-ng-show="globalFilter.time_window > 1">hours</span>
            </h4>
			<table class="table">
			    <thead>
			        <tr>
			            <th>Succeeded</th>
			            <th>Failed</th>
			            <th>Canceled</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>
			                <a href="#/transfers?time_window=1&hostname={{host}}&state=FINISHED">{{stats.lasthour.finished}}</a>
                        </td>
			            <td>
                            <a href="#/transfers?time_window=1&hostname={{host}}&state=FAILED">{{stats.lasthour.failed}}</a>
                        </td>
			            <td>
			                <a href="#/transfers?time_window=1&hostname={{host}}&state=CANCELED">{{stats.lasthour.canceled}}</a>
			            </td>
			        </tr>
			    </tbody>
			</table>
            <div data-ac-chart="'pie'" data-ac-data="plots.lasthour" data-ac-config="plots.lasthour.config" id="lasthour" class="chart"></div>
			<div><p><b>Note: </b>Canceled transfers are not shown on the plot</p></div>
		</div>
	</div>
</div>
