<h2>Statistics - Servers</h2>
<h3>For the last 24 hours</h3>

<table class="table">
    <thead>
        <tr>
            <th>Server</th>
            <th>Running services</th>
            <th>Submissions received</th>
            <th>Transfers picked</th>
            <th>Transfers running</th>
            <th>Logs</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(k, s) in servers" ng-class-odd="'odd'">
            <td>
                <a href="#/statistics/overview?hostname={{k}}">{{k}}</a>
            </td>
            <td>
                <span ng-repeat="(service, segment) in s.services" title="[{{segment.start}}, {{segment.end}}]">
                    {{service}}
                    <br/>
                </span>
            </td>
            <td>{{s.submissions}}</td>
            <td>{{s.transfers}}</td>
            <td>{{s.active}}</td>
            <td>
                <a log="'/var/log/fts3/fts3server.log'" host="k">FTS3</a>
                <a log="'/var/log/fts3/fts3bringonline.log'" host="k">Bringonline</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="row-fluid">
    <div class="span4">
        <plot-pie title="Submissions" list="servers" value="submissions"/>
    </div>
    <div class="span4">
        <plot-pie title="Executed" list="servers" value="transfers"/>
    </div>
    <div class="span4">
        <plot-pie title="Active" list="servers" value="active"/>
    </div>
</div>
