<h2>Statistics - VO</h2>
<h3>For the last 30 minutes</h3>

<div class="form-inline">
    <form ng-submit="filterBy(filter)" autocomplete="off">
	    <label for="source_se">Source: </label>
	    <input type="text" placeholder="Source" id="source_se" ng-model="filter.source_se"
	           typeahead="source for source in unique.sources | filter:$viewValue"
	           class="input-xxlarge"/>
	    &nbsp;
	    <label for="dest_se">Destination: </label>
	    <input type="text" placeholder="Destination" id="dest_se" ng-model="filter.dest_se"
	           typeahead="dest for dest in unique.destinations | filter:$viewValue"
	           class="input-xxlarge"/>
	    <button class="btn" ng-click="applyFilters()"><i class="icon-filter"></i>Apply</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="width: 15%">VO</th>
            <th>Transfer states</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(vo, states) in vos" ng-class-odd="'odd'">
            <td>{{vo}}</td>
            <td>
                <span ng-repeat="(state, count) in states">{{count}} {{state}} </span>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
     <plot title="Active" list="vos" value="ACTIVE"/>
</div>
