<global-filter on-more="showFilterDialog()"></global-filter>

<h2>Transfers</h2>
<h3>
    Showing {{transfers.startIndex}} to {{transfers.endIndex}} out of {{transfers.count}}
</h3>

<pagination rotate="false"
    page="transfers.page" total-items="transfers.count" items-per-page="transfers.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table" style="font-size: 90%">
    <thead>
        <tr>
            <th style="width: 5%">
                <span order-by="id">File Id</span>
            </th>
            <th style="width: 10%">File state</th>
            <th style="width: 18%">Job Id</th>
            <th style="width: 18%">Source</th>
            <th style="width: 18%">Destination</th>
            <th style="width: 11%">Activity</th>
            <th style="width: 10%">
                <span order-by="start_time">Start time</span>
            </th>
            <th style="width: 10%">
                <span order-by="finish_time" title="Finish time">Finish time</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="t in transfers.items" ng-class-odd="'odd'">
            <td>
                <a href="#/job/{{t.job_id}}?file={{t.file_id}}">{{t.file_id}}</a>
            </td>
            <td class="status {{t.file_state}}">{{t.file_state}}</td>
            <td>
                <a href="#/job/{{t.job_id}}">{{t.job_id}}</a>
            </td>
            <td class="hscroll">{{t.source_se}}</td>
            <td class="hscroll">{{t.dest_se}}</td>
            <td class="hscroll">{{t.activity}}</td>
            <td>{{t.start_time}}</td>
            <td>{{t.finish_time}}</td>
        </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="transfers.page" total-items="transfers.count" items-per-page="transfers.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<!-- Modals -->
<div id="filterDialog" class="modal" role="dialog" style="display: none">
    <form ng-submit="applyFilters()" autocomplete="off">
        <div class="modal-header">
            <h3>Filters</h3>
        </div>
        <div class="modal-body" style="max-height: 600px;">
            <div class="row-fluid">
	            <div class="span6">
	                <label for="source_surl">Source SURL:</label>
	                <input type="text" placeholder="full source surl" id="source_surl", ng-model="filter.source_surl"/>

		            <label for="hostname">Transfer host:</label>
		            <select id="hostname" ng-model="filter.hostname" ng-options="hostname for hostname in unique.hostnames">
		              <option value="">-- All hosts --</option>
		            </select>
	            </div>

	            <div class="span6">
		            <label for="dest_surl">Destination SURL:</label>
		            <input type="text" placeholder="full destination surl" id="dest_surl", ng-model="filter.dest_surl"/>

	                <label for="activity">Activity:</label>
		            <select id="activity" ng-model="filter.activity" ng-options="activity for activity in unique.activities">
		              <option value="">-- All activities --</option>
		            </select>
	            </div>
            </div>

            <label for="state">State:</label>
            <p class="btn-group">
                <button type="button" class="btn btn-info btn-small" ng-model="filter.state.submitted" btn-checkbox>SUBMITTED</button>
                <button type="button" class="btn btn-info btn-small" ng-model="filter.state.ready" btn-checkbox>READY</button>
                <button type="button" class="btn btn-primary btn-small" ng-model="filter.state.staging" btn-checkbox>STAGING</button>
                <button type="button" class="btn btn-primary btn-small" ng-model="filter.state.active" btn-checkbox>ACTIVE</button>
                <br/>
                <button type="button" class="btn btn-danger  btn-small" ng-model="filter.state.canceled" btn-checkbox>CANCELED</button>
                <button type="button" class="btn btn-danger btn-small" ng-model="filter.state.failed" btn-checkbox>FAILED</button>
                <button type="button" class="btn btn-success btn-small" ng-model="filter.state.finished" btn-checkbox>FINISHED</button>
                <button type="button" class="btn btn-small" ng-model="filter.state.not_used" btn-checkbox>NOT USED</button>
            </p>

            <label for="timewindow">Time window:</label>
            <input type="number" placeholder="time window in hours" id="timewindow" ng-model="filter.time_window"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="applyFilters()">Apply</button>
            <button class="btn btn-danger" ng-click="cancelFilters()">Cancel</button>
        </div>
    </form>
</div>
