@import url("labels.css");

/* Layout */
html {
	overflow-y: scroll;
	-moz-scrollbars-vertical;
}

#last-refresh-time {
    font-size: 50%;
    padding-left: 1em;
}

div[role="main"] {
    width: 90%;
    margin: auto;
    margin-top: 6em;
    margin-bottom: 6em;
}

.navbar-search label input {
	display: inline;
}

.navbar-search label {
	display: block-inline;
	color: #999999;
}

h2 div {
	display: inline;
}

td.numeric {
	text-align: right;
}

th.numeric {
	text-align: right;
}

tfoot {
	background: #555;
	color: white;
}

span.active {
    cursor: pointer;
}

/* This trick avoids flapping layout */
plot {
    display: block;
    height: 301px;
}

/* Tables */
table.table {
	font-family: monospace;
	table-layout: fixed;
}

table.table-small {
    font-size: 90%;
}

table.table th {
	overflow: hidden;
}

table.table td {
	overflow: hidden;
}

table.table td.hscroll {
	overflow-x: auto;
}

table.table tr.agreggate {
	background: #AAA;
}

/* Statuses */
td.status {
	color: white;
	text-align: center;
	vertical-align: middle;
}

.inconsistency.odd {
    background: #f2dede;
}

.ACTIVE {
    background: #006dcc;
}

.CANCELED {
    background: #8a2822;
}

.FAILED {
    background: #bd362f;
}

.FINISHED {
	background: #5bb75b;
}

.FINISHEDDIRTY {
    background: #faa732;
}

.READY {
    background: #9ed5ff;
}

.STAGING {
     background: #990099;
}

.STARTED {
    background: #BA56B0;
}

td.SUBMITTED, .SUBMITTED {
    color: black;
    background: #FFFF88;
}

.NOT_USED {
	background: #AAA;
}

.DELETE {
    background: #CC5200;
}

/* Staging button */
.btn-staging {
    color: #ffffff;
    background-color: #990099;
    background-image: linear-gradient(to bottom, #993D99, #990099);
    border-color: #993D7A;
}

.btn-staging:hover {
    color: #ffffff;
    background-color: #991F99;
    background-image: none;
    border-color: #993D7A;
}

.btn-staging.active {
    color: #ffffff;
    background-color: #660066;
    background-image: none;
    border-color: #993D7A;
}

.btn-staging[disabled] {
    color: white;
    background-color: #990099;
    border-color: #993D7A;
}

.btn-delete {
    color: #ffffff;
    background-color: #CC5200;
    background-image: linear-gradient(to bottom, #CC8352, #CC5200);
    border-color: #CC8352;
}

.btn-delete:hover {
    color: #ffffff;
    background-color: #CC5200;
    background-image: none;
    border-color: #CC8352;
}

.btn-delete.active {
    color: #ffffff;
    background-color: #993D00;
    background-image: none;
    border-color: #CC5200;
}

.btn-delete[disabled] {
    color: white;
    background-color: #CC8352;
    border-color: #CC6A29;
}

/* Overview */
.overview {
	border-left: solid 4px gray;
}

.filter-on-click {
	cursor: pointer;
}

.filter-on-click:hover {
    color: #005580;
}

.overview.active {
	background: #d9edf7;
}

.overview.good-state {
	border-left: solid 12px #51a351;
}

.overview.bad-state {
    border-left: solid 12px #bd362f;
}

.overview.underused {
	border-left: solid 12px #f89406;
}

/* Optimizer decisions */
.optimizer-branch--1 {
    border-left: solid 12px #999999;
}

.optimizer-branch-1 {
	border-left: solid 12px #468847;
}

.optimizer-branch-2, .optimizer-branch-6,
.optimizer-branch-7, .optimizer-branch-9 {
	border-left: solid 12px #3a87ad;
}

.optimizer-branch-3, .optimizer-branch-4,
.optimizer-branch-5, .optimizer-branch-8 {
	border-left: solid 12px #b94a48;
}

.optimizer-branch-10 {
	border-left: solid 12px #f89406;
}

/* Ordering */
.orderby {
    cursor: pointer;
}

/* Config audit */
table.audit tr td:nth-child(1) {
    background: #cccccc;
    color: white;
}

table.audit  tr.blacklist td:nth-child(1) {
	background: black;
}

table.audit tr.update td:nth-child(1) {
    background: #006dcc;
}

table.audit tr.insert td:nth-child(1) {
    background: #5bb75b;
}

table.audit tr.delete td:nth-child(1) {
    background: #bd362f;
}

table.audit tr.debug td:nth-child(1) {
    background: #999999;
}

table.audit  tr.retry td:nth-child(1) {
    background: #2f96b4;
}

table.audit tr.queue-timeout td:nth-child(1) {
    background: #2f96b4;
}

table.audit tr.drain td:nth-child(1) {
    background: #2f96b4;
}

table.audit tr.optimizer td:nth-child(1) {
    background: #2f96b4;
}

table.audit tr.max-bandwidth td:nth-child(1) {
    background: #f89406;
}

table.audit tr.max-se-dest-active td:nth-child(1) {
    background: #c47404;
}

table.audit tr.max-se-source-active td:nth-child(1) {
    background: #c47404;
}

/* Statistics */
.status-down {
    color: red;
}

/* Charts */
.chart {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.ac-legend {
    display: block-inline;
    float: left;
}