<h2>
    Errors for {{source_se}} → {{dest_se}}
    <button class="btn btn-mini btn-info" type="button" ng-click="filtersModal = true">Filter</button>
</h2>
<h3>For the last 12h</h3>

<pagination rotate="false" num-pages="errors.pageCount" current-page="errors.page"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>
    
<table class="table">
    <thead>
        <tr>
            <th style="width: 10%">VO</th>
            <th style="width: 10%">Count</th>
            <th style="width: 80%">Reason</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="e in errors.items" ng-class-odd="'odd'">
            <td>{{e.vo_name}}</td>
            <td>{{e.count}}</td>
            <td>
                <a href="#/transfers?state=FAILED&vo={{e.vo_name}}&source_se={{source_se|escape}}&dest_se={{dest_se|escape}}&reason={{e.reason|escape}}">
                    {{e.reason}}
                </a>
            </td>
        </tr>
    </tbody>
</table>

<pagination rotate="false" num-pages="errors.pageCount" current-page="errors.page"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

 <!-- Modals -->
<div modal="filtersModal" close="filtersModal = false" options="opts">
    <form ng-submit="filterReason(filter.contains)" autocomplete="off">
        <div class="modal-header">
            <h3>Reason contains</h3>
        </div>
        <div class="modal-body">
            <label for="reason">Reason:</label>
            <input type="text" placeholder="Error reason" id="reason" ng-model="filter.reason"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="filterReason(filter)">Apply</button>
            <button class="btn btn-danger" ng-click="filtersModal = false">Cancel</button>
        </div>
    </form>
</div>
    