<global-filter on-more="showFilterDialog()"></global-filter>

<h2>Number of errors for each pair</h2>

<h4>{{pairs.startIndex}} to {{pairs.endIndex}} out of {{pairs.count}}</h4>

<pagination rotate="false"
    page="pairs.page" total-items="pairs.count" items-per-page="pairs.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table">
    <thead>
        <tr>
            <th style="width: 40%">Source</th>
            <th style="width: 40%">Destination</th>
            <th style="width: 20%">Failed</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pair in pairs.items" ng-class-odd="'odd'">
            <td>{{pair.source_se}}</td>
            <td>{{pair.dest_se}}</td>
            <td>
                <a href="#/errors/list?source_se={{pair.source_se | escape}}&dest_se={{pair.dest_se | escape}}&reason={{filter.reason | escape}}&time_window={{globalFilter.time_window}}">
                    {{pair.count}}
                </a>
            </td>
        </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="pairs.page" total-items="pairs.count" items-per-page="pairs.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<!-- Modals -->
<div id="filterDialog" class="modal" role="dialog" style="display: none">
    <form ng-submit="applyFilters()" autocomplete="off">
        <div class="modal-header">
            <h3>Search in the reason</h3>
        </div>
        <div class="modal-body">
            <label for="reason">Reason:</label>
            <input type="text" placeholder="reason" id="reason" ng-model="filter.reason"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="applyFilters()">Apply</button>
            <button class="btn btn-danger" ng-click="cancelFilters()">Cancel</button>
        </div>
    </form>
</div>
